
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{--primary-bg-color: rgb(3, 3, 145) ; 
    
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
     font-weight: 500;
}

    


/*for the side bars*/
.sidebar{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    width: 70px;
   top: 100px;
    align-content: center;
    gap: 20px;
    padding: 20px;
    text-align: center; /*aligns the items to the center*/
    margin-left: 0;
    z-index: 3;
    left: 0;
    background-color:transparent;
    
}


.sidebar img{

    width: 17px;
    height: 17px;
}



/* /* for header */
.header{
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-content:center;
    background-color: white(241, 241, 241);
    width: 100%;
    justify-content: space-around;
    height: 60px;
    background-color: white;
    top: 0;
    left: 0; /* makes the header stick to the top*/
    
   
    
    
    
      
}
.home{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
#online-banking{ 
    display: flex;
    background-color: green;
    font-size: 13px;
    
    width: 160px;
    text-align: center;
    padding-left: 10px;
    color: white;  
    height: 40px;
    margin-left: 50px;
    gap: 5px;
     border-radius: 5px;
}


.open-account{
 background-color:  rgb(3, 3, 145) ; 
 height: 40px;   /* makes it align withethe online banking*/
 padding: 0 10px;
  border-radius: 5px;
  color: white;
}

 .open-account >div{
    background-color: rgb(3, 3, 145) ;
 }
.header div{
    padding-top: 10px; /* makes the header align tothe center*/
}

   
    


.section1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px; /*gives gap to the element*/
    margin-top: 60px; /*makes it to come down so it wont collide with the header since it is fixed*/
    font-size: 12px;
    padding-left: 70px;
    position: fixed;
     width: 100%;
     height: 20px;
     padding-top: 10px;
     padding-bottom: 20px;
    top: 0;
    left: 0;
    background-color: rgb(250, 249, 249);
    margin-left:0;
}
.text{
    padding-top: 100px;
}
.section2{
    padding-top:100px ;
    padding-left: 70px;
    color: rgb(3, 3, 145)  ;
    display: grid;
    grid-template-columns: 50% 50% ;
    width: 100%;
    background-color: rgb(250, 249, 249);
    height: 800px;
}
.section2 button{
    border: none; /* removes the border around the image*/
}
   

button span{ /*changes the font of the span element*/
     font-size:20px ;
}
.button1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.background{
   opacity: 2;
   background-blend-mode: exclusion;
}
    




.every{  /*to edit the element*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
    color:  rgb(3, 3, 145)  ;
}
#with-ease{
    color: rgb(63, 174, 90);
    text-align: justify;
    font-weight: 900;
    font-size: 60px;
    line-height: 0.3;
 font-family: "Dancing Script", cursive;
    padding-left: 15%;
}
.bankonline{
    padding-top: 40px;
}

.section3{
    text-align: center;
    padding-top: 70px;
}
#first{
    font-size: 25px;
    color: rgb(3, 3, 145) ;
}
#second{
     padding-top: 30px;
     font-weight: 300px;
}




.section4{
    display: grid;
    grid-template-columns: 25%  25% 25% 25% ;
    padding-left: 50px;
    padding-top: 50px;
   
    gap: 10px;
    width: 100%;
   
}
.board1,.board2 ,.board3 ,.board4, .board5, .board6, .board7 ,.board8{/* styles the boards*/
   background-color: white ;
   width: 100%;
   height: 300px;
    border-radius: 10px;
}
     
.board1{
    background-image: url("background/tele.png");
    background-size: cover;/* to add background image*/
    background-position: right;
    padding: 70px 20px;
    color: black;
    font-size:12px;
    line-height: 1.5;
    text-shadow:1px 1px 2px rgb(245, 242, 242),0 0 25px blue, 0 0 5px red ;
}
#board1, #board2,.board8> div{ /* styles the text in board1 and board2*/
    font-size: 20px;
    color:  rgb(3, 3, 145) ;
    font-weight: 600;
}
.board2{
    background-image: url("background/markus-winkler-IrRbSND5EUc-unsplash.jpg");
      background-size: cover;/* to add background image*/
      padding: 70px 20px;
     line-height: 2;
     
     text-shadow:1px 1px 2px rgb(245, 242, 242),0 0 25px blue, 0 0 5px red ;
}
#ngc{
    font: 25px black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
 #perc{ 
    background-color: white;
    border: 1px solid black;
    color: var(--primary-bg-color);
    text-align: end;
    width: 35%;
    margin-left: 150px; /* makes the element shift to the right*/
  
}


.board3{
     background-image: url("background/emil-kalibradov-2s9N9qHsSCI-unsplash.jpg");
      background-size: cover;/* to add background image*/
     background-position: right-top;
      padding: 70px 20px;
      line-height: 1.5;
      font-size: 25px;
     color: var(--primary-bg-color);
     font-weight: 700;
    text-shadow:1px 1px 2px rgb(245, 242, 242),0 0 25px blue, 0 0 5px red ;

}
.button{
    padding: 12px;
    margin-top: 30px;
    font-size: 15px;
     color: var(--primary-bg-color);
     font-weight: 700;
      text-shadow: none;
    font-size: 18px;
    text-decoration: none;
    background-color: green;
     width:80px;
    border-radius: 5px 0px 0px 5px;
}  
a{/*styles th whole link*/
    text-decoration: none; /*to remove the underline in a link*/
} 
.board4{
     background-image: url("background/Copilot_20251224_062322.png");
      background-size: cover;/* to add background image*/
     background-position: 10% 100%;
     padding: 30px 20px;
      line-height: 1.5;
      font-size: 25px;
     color: var(--primary-bg-color);
     font-weight: 600;
    text-shadow:1px 1px 2px rgb(245, 242, 242),0 0 25px blue, 0 0 5px red ;
}
.board4 img{
    padding-top: 20px;
}
.board5{
     background-image: url("background/evan-rally-WPRB6D2EqWc-unsplash.jpg");
      background-size: cover;/* to add background image*/
       padding: 30px 20px;
      line-height: 1;
      font-size: 2cqw;
      font-weight: 600;
      color: var(--primary-bg-color);
      text-shadow:1px 1px 2px rgb(245, 242, 242),0 0 25px blue, 0 0 5px red ;
}
      
.board5 >div{
    margin-bottom: 100px;
    color: var(--primary-bg-color);
}

.board6{
     background-image: url("background/dress.jpeg");
      background-size: cover;/* to add background image*/
      background-position: 10% 100%;
       padding: 30px 20px;
      line-height: 1;
      font-size: 2cqw;
      font-weight: 00;
      color: var(--primary-bg-color);
      text-shadow:1px 1px 2px rgb(245, 242, 242),0 0 25px blue, 0 0 5px red ;
}
.board6 >div{
    margin-bottom: 100px;
    color: var(--primary-bg-color);
}

.board7{
     background-image: url("background/wallet.jpeg");
      background-size: cover;/* to add background image*/
     padding: 30px 20px;
    line-height: 1;
      font-size: 2cqw;
      font-weight: 600;
      color: var(--primary-bg-color);
      text-shadow:1px 1px 2px rgb(245, 242, 242),0 0 25px blue, 0 0 5px red ;
}
.board7 >div{
    margin-bottom: 100px;
    color: var(--primary-bg-color);
}
     
.board8{
     background-image: url("background/michael-ali-KDymHK5y9bI-unsplash.jpg");
      background-size: cover;/* to add background image*/
      background-position: right-top;
      padding: 70px 20px;
      line-height: 2;
     text-shadow:1px 1px 2px rgb(245, 242, 242),0 0 25px blue, 0 0 5px red ;
}
#learnmore{
    border: 1px solid green;
    background: green;
    width:70px;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px 0px 0px 5px;
    margin-top: 10px;
    font-weight: 700;
    text-shadow: none;
}
#learnmore::after{

    content: "\2192"; /* rightwards arrow */
    font-size: 20px;
    margin-right: 5px;
    font-weight: 900;
}



.main-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding-left: 60px;
    gap: 60px;
}
.col1 img,.col2 img,.col3 img{ /* changes the border radius of only the upper side*/
    border-radius:20px 20px 0px 0px ;
}


.main-container img{ /* styles the images in the main container*/
    width:100%;
    height: 250px;

}
.container{
    padding: 20px;
    line-height: 1.5;
}
h2{
    text-align: center;
    padding: 30px;
    color: var(--primary-bg-color);
}
#p{
    text-align: center;
    padding-bottom: 20px;
}
.news{
    font-size: 12px;
    margin-top: 10px;


}
button{ /* styles the Read me button*/
    padding: 10px;
    margin-top: 20px;
    background-color: green;
    border: none;
   
    font-weight: 700;
}
button a{
    color: white; /* makes the link white in color*/
}
.stay-close{
    padding: 30px 30px 30px 0px;
    display: flex;
   justify-content: space-around;
   vertical-align: text;
   gap: 30px;
  background-color: var(--primary-bg-color);
  color:white ;
  height: 150px;
  margin-top: 40px;
  
}
#stay-close {
    font-size: 30px;
}

.getintouch{
    display: flex;
    gap: 10px;
    justify-content: left;
    background-color: green;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
}
.end{
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%; /* divides the section into 5 equal parts*/
    margin-top: 40px;
    padding-left: 50px;
    line-height: 1.7;
    font-size: 13px;
    font-weight: 400;
}
ul{
    list-style-type: none;
}
.store{
    display: flex;
    gap: 10px;
}
.mobile{
  
    display: flex;
  gap: 10px;
}
.mobile> div {
    background-color: black;
    width: 100%;
    height: 40px;
    color: white;
     border-radius: 5px;
     line-height: 1;
}
.mobile a{/* change the color of the link*/
    color: white;
    padding: 6px;
}
small{
    font-size: 5px;
}
span{
    font-size: 20px;
    font-weight:600;
}
#phone img{
    background-color: white;
}

.before-footer{ /* to style the before footer section*/
    display: flex;
    font-size: 12px;
    font-weight: 400;
    padding: 50px;
    justify-content: space-between;   
}
.policy{
    display: flex;
    flex-direction: row;
    
}
/* for footer*/
.footer{
    display:grid;
    grid-template-columns: 25% 25% 25% 25% ;
    
    margin-top: 0;
    position: fixed;
    bottom: 0;
    left: 0;
   width: 100%;
   
   height: 70px;
   background-color: rgb(250, 249, 249);
   z-index: 4; /* makes sure the footer is at the back of other elements*/
  
   
}

.last{
    display: flex;
    flex-direction: row;
    justify-content: center;/*centers the items in the footer*/
    align-items: center;
    gap: 15px;
    font-size: 14px;
 
    background-color: rgb(250, 249, 249);
    width: 100%;
    color: var(--primary-bg-color);
    
    
}
#cookie img{
    width: 50px;
    background-color: white;
    border-radius: 5px;
    
    
    
}
#last1{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 20px;
    font-size: 14px;
   
}

.footer :hover{
    color: green;
    background-color: var(--primary-bg-color);
    cursor: pointer;
}   
